.navbar {
  border-bottom: 1px solid #e5e5e5;
}

.navbar-brand {
  margin-left: 10px;
}

.navbar-brand img {
  margin-right: 8px;
  margin-top: -5px;
}

.main-container {
  margin-top: 20px;
}

footer {
  border-top: 1px solid #e5e5e5;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
}
