
<div [formGroup]="loginForm">
  <mat-form-field>
    <mat-label>login</mat-label>
    <input matInput formControlName="login">
    @if("loginForm.controls['login'].errors?.required && loginForm.controls['login'].touched") {
      <mat-error>
        Login must be filled!
      </mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input type="password" matInput formControlName="password">
    @if ("loginForm.controls['password'].errors?.required && loginForm.controls['password'].touched") {
      <mat-error >
      Password must be filled!
    </mat-error>
    }
  </mat-form-field>
  <button (click)="loginTemplate()" mat-button>login</button>

 
</div>
