
<div class="row">
    @for (content of folderContent; track $index) {
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{content.URL}}" alt="Card image cap">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">{{content.fileName}}</li>
                    <li class="list-group-item" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">{{content.createdAt}}</li>
                  </ul>
            </div>
        </div>
    }
</div>


<!-- botão de find matches e bota o de upar files: -->
<app-upload [folderNameReceiver]="folderName" [folderIdReceiver]="folderId"></app-upload>