<br clear="all">


<div class="position-absolute top-0 end-0 mt-0 mr-0 padding: 40px">
    <button (click)="deleteFolderTemplate()" type="button" class="btn btn-danger">Delete this folder</button>
</div>

<div class="file-upload-container">
    <input type="file" multiple="true" (change)="onFileSelected($event)">
    <button type="button" class="btn btn-primary upload-button" (click)="uploadFilesTemplate()">Upload Files</button>
    @if (loadUploadFlag) {
    <div id="overlay">
        <div class="spinner-border" role="status">
            <span class="sr-only">Uploading files...</span>
        </div>
        <!-- <div id="uploadMessage">Uploading files...</div> -->
    </div>
    @if (sucessUpload) {
    <div id="successMessage" style="display: none;">
        Upload successful!
    </div>
    } @else {
    <div id="errorMessage" style="display: none;">
        Upload failed!
    </div>

    }
    }
</div>

<div class="file-upload-container">
    <input type="file" (change)="onFileSelected($event)">
    <button type="button" class="btn btn-primary find-matches-button" (click)="findMatchesTemplate()">Find Matches</button>
    @if (loadingMatches) {
        <div id="overlay">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <!-- <div id="uploadMessage">Finding matches...</div> -->
        </div>
    }
</div>

@if (this.matchesFound) {
    <app-matches [matchesArrayReciever]="matchesArray"></app-matches>
} @else {
    <div id="errorMessage" style="display: none;">No matches found!</div>
}

<div class="file-upload-container"> 
    <button class="btn btn-primary" (click)="downloadFolderContent()" >Download All folder content</button>

</div>



