<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <div class="row justify-content-center mt-5">
                        <div class="col-9">
                            <ul class="nav nav-tabs nav-tabs-custom nav-justified justify-content-center faq-tab-box"
                                id="pills-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="pills-general-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-general" type="button" role="tab"
                                        aria-controls="pills-general" aria-selected="true">
                                        <span class="font-size-16">General Questions</span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-9">
                            <div class="tab-content pt-3" id="pills-tabContent">
                                <div class="tab-pane fade active show" id="pills-general" role="tabpanel"
                                    aria-labelledby="pills-general-tab">
                                    <div class="row g-4 mt-2">
                                        <div class="col-lg-6">
                                            <h5 class="fw-bold fs-5">Project Overview</h5>
                                            <p class="text-muted">This project aims to provide photographers with a convenient platform to filter their photos efficiently, particularly based on specific individuals with the use of a convolutional neural network (CNN)</p>
                                        </div>
                                        <div class="col-lg-6">
                                            <h5 class="fw-bold fs-5">What is the application?</h5>
                                            <p class="text-muted">The application was developed with the aim of assisting photographers in filtering their respective photos based on the selection of a specific person.</p>
                                        </div>
                                        <div class="col-lg-6">
                                            <h5 class="fw-bold fs-5">How can I use the application?</h5>
                                            <p class="text-muted">To use it, simply <a href="/register">create an account</a> on the website, create a folder, and upload your photos.</p>
                                            <p class="text-muted">After that, upload the reference person from which you want to filter the images and click on the "find matches" button.</p>
                                        </div>
                                        <div class="col-lg-6">
                                            <h5 class="fw-bold fs-5">What are the highlights of this application?</h5>
                                            <p class="text-muted">This application consumes a robust and scalable API <a href="https://github.com/Andreixzc" target="_blank" rel="noopener noreferrer">developed by me</a> and fully hosted on the Amazon Web Services (AWS) infrastructure.</p>
                                            <p class="text-muted">Furthermore, even though it is in beta version, it is completely free and easily accessible to the general public.</p>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- end row -->
                </div>
            </div>
        </div>
    </div>
</div>
